@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileRestaurantService ProductService
@using ContosoCrafts.WebSite.Components
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Restaurant";
}

<h1>@Model.Product.Title</h1>

<div class="container">
    <h5 class="title" id="productTitle">@Model.Product.Title</h5>

    <img class="card-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>

    <p class="card-text">@Model.Product.Description</p>

</div>

<br />
<br />

<div class="card-columns">
    @foreach (var product in ProductService.GetAllData())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');">
            </div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <a class="card-link btn btn-dark" href="./Restaurants/Restaurants/@product.Id">@product.Title</a>
            </div>
        </div>
    }
</div>
@*@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>*@